<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Character Creator</title>
</head>
<body>
<h3>Welcome to Character Creator! In this form, you will be able to create a character by filling out a few fields and having the form roll for characteristics!</h3>
<br />
<form>
    <label>Character Name:</label> <input type="text" id="characterName" /><br />
    <label>Character Bio:</label> <input type="text" id="characterBio" /><br />
</form>

</body>
</html>