<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Creator</title>
</head>
<body>
<h1>D&D Character Creator</h1>
<form>
    <p>Name:</p> <input type="text" name="Name">
    <p>Background:</p> <input type="text" name="Background">
    <p>Race:</p> <input type="text" name="Race">
    <p>Class:</p> <input type="text" name="Class">
    <p>Strength:</p> <input type="number" name="Strength">
    <p>Dexterity:</p> <input type="number" name="Dexterity">
    <p>Constitution:</p> <input type="number" name="Constitution">
    <p>Intelligence:</p> <input type="number" name="Intelligence">
    <p>Wisdom:</p> <input type="number" name="Wisdom">
    <p>Charisma:</p> <input type="number" name="Charisma">
</form>
<button>Save</button>
<button>View Characters</button>
<button>Print</button>
</body>
</html>